* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CARGAR FUENTES GUARDADAS EN DIRECTORIO FONTS */

/* Fuente EB Garamond */
@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/EBGaramond-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/EBGaramond-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/EBGaramond-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

/* Fuente Inter (24pt) */
@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter_24pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter_24pt-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter_24pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter_24pt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Fuente Young Serif */

@font-face {
    font-family: 'Young Serif';
    src: url('../fonts/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* ESTABLECER VARIABLES */

:root {
    --primary-color: rgb(105, 150, 233);
    --secondary-color: rgb(243, 139, 170);
    --tertiary-color: #f7f4d2;
    --font-primary: 'Inter 24pt', sans-serif;
    --font-secondary: 'EB Garamond', serif;
    --font-tertiary: 'Young Serif', serif;
}

/* DEFINIR FUENTES A UTILIZAR */
body {
    font-family: var( --font-primary );
}

h1, h2, h3, h4, h5 {
    font-family: var( --font-tertiary );
    font-weight: 400;
}

.italic-title {
    font-family: var( --font-secondary );
    font-style: italic;
}

.thin-text {
    font-family: var( --font-primary );
    font-weight: 100;
}

/* FIJAR FOOTER */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    background-color: var(--tertiary-color);
}

/* FOOTER */

footer {
    padding: 1rem;
    text-align: center;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo img {
    width: 8rem;
}

.navbar-list {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-right: 1rem;
}

.navbar-item {
    color: black;
    text-decoration: none;
    position: relative;
}

.navbar-item-active {
    color: var(--primary-color);
}

.navbar-list li a:hover {
    color: var(--primary-color);
}

.navbar-list li a::after {
    content: '';
    width: 0%;
    height: 2px; 
    background: var(--secondary-color);
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.navbar-list li a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
}

.menu-toggle div {
    width: 1.7rem;
    height: 3px;
    background-color: black;
    margin: .2rem;
}

@media screen and ( max-width: 765px ) {
    .navbar-list {
        display: none;
    }

    .navbar-list-active {
        display: flex;
        position: absolute;
        flex-direction: column;
        text-align: right;
        top: 0;
        right: 0;
        margin-top: 4rem;
        background-color: rgb(253, 233, 233);
        border-radius: 5rem 0;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2.5rem;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
    }

    .navbar-list li a:hover {
        color: var(--primary-color);
    }

    .navbar-list li a::after {
        background: var(--primary-color);
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu-toggle-active div {
        background-color: var(--secondary-color);
    }
}

/* MAIN CONTENT */
.main-content {
    padding: 1rem;
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

/* HOME SECTION */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
        animation: appear 1s ease;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
    }
}

.home-title {
    text-align: center;
}

.home-title h1 {
    margin-top: 4rem;
    color: var(--primary-color);

}

.home-flower {
    position: relative;
    top: -5rem;
    width: 20rem;
}

.petal {
    width: 9rem;
    height: 9rem;
    background-color: rgba(235, 158, 224, 0.452);
    position: absolute;
    border-radius: 100% 0;
    z-index: -1000;
}

.petal:nth-child(1) {
    transform: rotate(90deg);
    animation: entry1 1s ease;
}


.petal:nth-child(2) {
    transform: rotate(135deg);
    left: calc( 50% - 4.5rem);
    animation: entry2 1s ease;
}


.petal:nth-child(3) {
    right: 0;
    animation: entry3 1s ease;
}

@keyframes entry1 {
    0% {
        opacity: 0;
        left: -50rem;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes entry2 {
    0% {
        opacity: 0;

    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
}

@keyframes entry3 {
    0% {
        opacity: 0;
        right: -50rem;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

.home-card {
    padding: 1rem;
    max-width: 80rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.home-card img {
    width: 30rem;
    transform: skewX(-2deg);
}

.home-card:nth-child(3) img {
    transform: skewX(2deg);
}

.home-card h2 {
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
}

.home-card p {
    line-height: 1.6rem;
}

.call-to-action {
    display: block;
    margin-top: 1.2rem;
    padding: .8rem 1.6rem;
    width: fit-content;
    color: white;
    border-radius: 1.5rem;
    text-decoration: none;
    background-color: var( --primary-color );
    transition: background-color .3s ease;
}

.call-to-action:hover {
    background-color: var( --secondary-color );
}

.text-colorful {
    color: var( --primary-color );
}

@media screen and ( max-width: 1350px ) {
    .home-card {
        flex-direction: column;
    }

    .home-card:nth-child(3) {
        flex-direction: column-reverse;
        text-align: right;
    }

    .home-card:nth-child(3) a {
        margin-left: auto;
    }

    .home-card img {
        max-width: 100%;
    }
}

@media screen and ( max-width: 600px ) {
    .home-card a {
        width: 100%;
        text-align: center;
    }
}

/* BLOG */
.blog-card {
    border: 1px solid rgb(175, 175, 175);
    margin: 1rem;
    width: 30rem;
    border-radius: 1rem;
    padding: 1rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container p {
    margin: .3rem 0
}